.header{
    padding:1rem;
    background-color: #1462af;
    color: white;
}
.question{
    padding:0.5rem;
    background-color: #e2eff8;
    color: hsl(209, 98%, 25%);
    border-radius: 0.5rem;
} 
.footer{
    padding:0.25rem;
    background-color: #1462af;
    color: white;
}
.card{
    border:none;
}
body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}